
html, body {
	height:100%; }

body { margin: 0px; }

.felsocsik1 {
	 background-image: url("Névtelen.png");
	 height: 100%;
	 background-attachment: fixed;
  	 background-position: center;
  	 background-repeat: no-repeat;
  	 background-size: cover;
}
h1 {font-family: 'Roboto', sans-serif;
	margin: 0px;
	font-size: 30px; 
	position: absolute;
	left: 600px;
	top: 600px;
	color: white}

.felsocsik3 {
	 background-image: url("háttér8nap.png");
	 height: 100%;
	 background-attachment: fixed;
  	 background-position: center;
  	 background-repeat: no-repeat;
  	 background-size: cover;
}
h3 {font-family: 'Roboto', sans-serif;
	margin: 0px;
	font-size: 110px; 
	position: absolute;
	left: 500px;
	top: 3000px;
	color: white}

h4 {font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	color: red;
	margin: 0px;
	padding-left: 450px;
	padding-top: 20px;}

h5 {font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	padding-left: 390px;
	padding-right: 350px;
	background-color: white;}

.row{
	font-family: 'Open Sans', sans-serif;
	float: left;
  	width: 30%;
  	padding: 5px;
    text-align: center;}
.row2{
	font-family: 'Open Sans', sans-serif;
	float: left;
  	width: 30%;
  	padding: 5px;
  	text-align: center;}
.row21{
	font-family: 'Open Sans', sans-serif;
	float: left;
  	width: 48.5%;
  	padding: 10px;
  	text-align: center;}
.row3{
	font-family: 'Open Sans', sans-serif;
	float: left;
  	width: 27%;
  	padding: 10px;
    text-align: center;}
.row31{
	font-family: 'Open Sans', sans-serif;
	float: right;
  	padding: 17px;
  	text-align: center;}
.row4{
	font-family: 'Open Sans', sans-serif;
	float: left;
  	width: 30%;
  	padding: 5px;
    text-align: center;}
.row5{
	font-family: 'Open Sans', sans-serif;
	float: left;
  	width: 40%;
  	padding: 7px;
  	text-align: center;
  	}
/*.row6{
	font-family: 'Lobster Two', cursive;
	float: left;
  	width: 30%;
  	padding: 5px;}
.row7{
	font-family: 'Lobster Two', cursive;
  	padding: 5px;}
 */
.row8{
	font-family: 'Open Sans', sans-serif;
	float: left;
  	padding: 35px;
  	text-align: center;
  }
  	/*  	text-align: center;
  	text aline center*/

.gombocska{ 
	background-color: red;
	padding: 10px;
	margin-left: 400px;
	color: white;
	font-family: 'Lobster Two', cursive ;
	text-decoration: none;}

html, body {
	height:100%; }
body { margin: 0px; }

.felsocsik2 {
	 background-image: url("nyáriiarcok.png");
	 height: 100%;
	 background-attachment: fixed;
  	 background-position: center;
  	 background-repeat: no-repeat;
  	 background-size: cover;
}

h2 {font-family: 'Roboto', sans-serif;
	margin: 0px;
	font-size: 110px; 
	position: absolute;
	left: 435px;
	top: 1170px;
	color: white}

a{
	text-decoration: none;
	color:#FFFFFF;
}